GOOGLE_OIDC_CLIENT_SECRET=""
JWT_SECRET_KEY=""

FRONT_END_SERVER_URL=""

POSTGRES_URL="jdbc:postgresql://postgres:5432/nsu"
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="123"

RUST_FS_URI="http://rust-fs:9000"
RUST_FS_ACCESS_KEY="admin"
RUST_FS_SECRET_KEY="123"

